*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'League Spartan', sans-serif;
    list-style: none;
    text-decoration: none;
    }
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15%;
    background-color: #ffffff;
}
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2 img{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 30px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #2f733c;
}
input:focus{
    outline: none;
}
.row-2 h2{
    margin-left: -100px;
}
.row-2 p{
    margin-right: -100px;
}

.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2 img{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 30px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #2f733c;
}
input:focus{
    outline: none;
}
.row-2 h2{
    margin-left: -100px;
}
.row-2 p{
    margin-right: -100px;
}